<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDisplayName</key>
  <string>Contrôle serveur VITRINES</string>
  <key>CFBundleExecutable</key>
  <string>Controle serveur VITRINES</string>
  <key>CFBundleIdentifier</key>
  <string>local.vitrines.controle</string>
  <key>CFBundleName</key>
  <string>Contrôle serveur VITRINES</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
</dict>
</plist>
